{{/*
{{define "sack_stack"}}
    {{range .}}
        <div class="tile"></div>
    {{end}}
{{end}}
*/}}

{{define "center"}}
    <div class="center-container">
        {{if ne .BLUE 0}}
            <div class="center">
                {{range .BLUE}}<div class="tile BLUE"></div>{{end}}
            </div>
        {{end}}
        {{if ne .YELLOW 0}}
            <div class="center">
                {{range .YELLOW}}<div class="tile YELLOW"></div>{{end}}
            </div>
        {{end}}
        {{if ne .RED 0}}
            <div class="center">
                {{range .RED}}<div class="tile RED"></div>{{end}}
            </div>
        {{end}}
        {{if ne .BLACK 0}}
            <div class="center">
                {{range .BLACK}}<div class="tile BLACK"></div>{{end}}
            </div>
        {{end}}
        {{if ne .GREEN 0}}
            <div class="center">
                {{range .GREEN}}<div class="tile GREEN"></div>{{end}}
            </div>
        {{end}}
        {{if ne .FIRST 0}}
            <div class="center">
                {{range .FIRST}}<div class="tile FIRST"></div>{{end}}
            </div>
        {{end}} 
    </div>
{{end}}