{{define "sack"}}
    <div class="sack-container">
        <div class="sack">
            <div>{{.BLUE}}</div>
            <div class="tile BLUE"></div>
        </div>
        <div class="sack">
            <div>{{.YELLOW}}</div>
            <div class="tile YELLOW"></div>
        </div>
        <div class="sack">
            <div>{{.RED}}</div>
            <div class="tile RED"></div>
        </div>
        <div class="sack">
            <div>{{.BLACK}}</div>
            <div class="tile BLACK"></div>
        </div>
        <div class="sack">
            <div>{{.GREEN}}</div>
            <div class="tile GREEN"></div>
        </div>
    </div>
{{end}}